{% extends 'base.html' %}

{% block title %} Indonesia Power Project {% endblock %}
{% load static %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<div class="box">
    <div class="row">
        <div class="col-6 " style="padding:0px; margin-top:0px;">
            <img src="../../static/images/newpict.png" max-widht="100%" height=auto" alt="" class="img-fluid rounded">
        </div>

        <div class="col-6">
            <div class="card">
                <h5 class="" style="margin-top:20px"> Sign into your account </h5>
                <hr>
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Email</label>
                        <input type="email" name="username" class="form-control"
                               placeholder="Masukkan Email Anda">
                    </div>


                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        <input type="password" name="password" class="form-control"
                               placeholder="Masukkan Password Anda">
                    </div>


                    <br>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">LOGIN</button>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>

{% endblock content %}