{% extends "base.html" %}

{% block title %}
{{heading}}
{% endblock title %}

{% block content %}
    <div class="alert alert-secondary" role="alert">
        Masukkan Parameter Bending
    </div>
    <form method="POST">
        {% csrf_token %}


        <div class="form-group row">
            {% for data in form %}
            <div class="col-sm">
                <label>{{data.label_tag}}</label>
                <div class="col-sm-10">
                    {{data}}
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-10">
                <button type="submit">Blending</button>
            </div>


        </div>


    </form>

    {% if parameterblending.status == 'nostock'%}
    <div class="alert alert-secondary" role="alert">
        Spesifikasi batubara pada stok tidak memenuhi
    </div>
    {% endif %}
    <h3>

        <h2>Stok Batubara {{parameterblending.statusstok}}</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Sumber Pasokan</th>
                <th scope="col">Pemasok</th>
                <th scope="col">Kategori</th>
                <th scope="col">Kalori</th>
                <th scope="col">Total Moisture</th>
                <th scope="col">Total Shulfur</th>
                <th scope="col">Total Ash</th>
            </tr>
            </thead>
            <tbody>
            {% for coal in coals %}
            <tr>
                <td>
                    {{ coal.sumberpasokan }}<br>
                </td>
                <td>
                    {{ coal.Pemasok }}<br>
                </td>
                <td>
                    {{ coal.Kategori }}<br>
                </td>
                <td>
                    {{coal.Kalori}}
                </td>
                <td>
                    {{coal.TM}}
                </td>
                <td>
                    {{coal.TS}}
                </td>
                <td>
                    {{coal.ASH}}
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <!-- Table -->
        <!--<h3> status split: {{blending_result.status_split}}</h3> -->
        <!-- <h3> status blending: {{blending_result.statusblending}}</h3> -->
        <h3>Spesifikasi Batubara dan Biomass Sumber</h3>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Spesifikasi</th>
                <th scope="col">Batubara 1</th>
                <th scope="col">Batubara 2</th>

                <th scope="col">Biomass</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Pemasok</th>
                <td>{{blending_result.coal1.Pemasok}}</td>
                <td>{{blending_result.coal2.Pemasok}}</td>

                <td>{{blending_result.biomassa.Pemasok}}</td>


            </tr>
            <tr>
                <th scope="row">Nilai Kalor</th>
                <td>{{blending_result.coal1.Kalori}}</td>
                <td>{{blending_result.coal2.Kalori}}</td>

                <td>{{blending_result.biomassa.Kalori}}</td>

            </tr>
            <tr>
                <th scope="row">Total Moisture</th>
                <td>{{blending_result.coal1.TM}}</td>
                <td>{{blending_result.coal2.TM}}</td>

                <td>{{blending_result.biomassa.TM}}</td>

            </tr>
            <tr>
                <th scope="row">Total Sulfur</th>
                <td>{{blending_result.coal1.TS}}</td>
                <td>{{blending_result.coal2.TS}}</td>

                <td>{{blending_result.biomassa.TS}}</td>

            </tr>
            <tr>
                <th scope="row">Kadar Abu</th>
                <td>{{blending_result.coal1.ASH}}</td>
                <td>{{blending_result.coal2.ASH}}</td>

                <td>{{blending_result.biomassa.ASH}}</td>

            </tr>
            <tr>
                <th scope="row">Potensi Slagging</th>
                <td>{{blending_result.coal1.Slagging}}</td>
                <td>{{blending_result.coal2.Slagging}}</td>

                <td>{{blending_result.biomass.Slagging}}</td>

            </tr>
            </tbody>
        </table>
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading"><h3>Spesifikasi Blending </h3></div>
            <div class="panel-body">
                <div class="modal-body row">
                    <div class="col-md-6">
                        <!-- Your first column here -->
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Komposisi
                                <span class="badge bg-primary rounded-pill">
                                    {{parameterblending.cofiring.komposisicoal1|floatformat:-2}} : {{parameterblending.cofiring.komposisicoal2|floatformat:-2}}
                               </span>
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                Nilai Kalor
                                <span class="badge bg-primary rounded-pill">
                                  {{parameterblending.cofiring.Kalori|floatformat:0}}
                              </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Moisture
                                <span class="badge bg-primary rounded-pill">
                                   {{parameterblending.cofiring.TM|floatformat:-2}}
                               </span>
                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                Total Sulfur
                                <span class="badge bg-primary rounded-pill">
                                   {{parameterblending.cofiring.TS|floatformat:-4}}
                               </span>

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Kadar Abu
                                <span class="badge bg-primary rounded-pill">{{parameterblending.cofiring.ASH|floatformat:-3}}</span>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <!-- Your second column here -->
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Excess Air
                                <span class="badge bg-primary rounded-pill">
                                   {{parameterblending.cofiring.ExcessAir|floatformat:-2}}</span>

                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                AFR
                                <span class="badge bg-primary rounded-pill">
                                   1 : {{parameterblending.cofiring.AFR|floatformat:0}}
                               </span>

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                MOT
                                <span class="badge bg-primary rounded-pill">{{parameterblending.cofiring.MOT|floatformat:-2}}</span>

                            </li>
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                Tilting Burner
                                <span class="badge bg-primary rounded-pill">
                                   {{parameterblending.cofiring.Tilting|floatformat:-2}}</span>

                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Potensi Slagging
                                <span class="badge bg-warning rounded-pill">
                                   {{parameterblending.cofiring.Slagging}}
                               </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <h3>Pengaturan Secondary Air Damper</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Corner 1</th>
                    <th scope="col">Corner 2</th>
                    <th scope="col">Corner 3</th>
                    <th scope="col">Corner 4</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Layer AA</th>
                    <td>{{parameterblending.cofiring.damper1AA |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper2AA |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper3AA |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper4AA |floatformat:-2}}</td>
                </tr>
                <tr>
                    <th scope="row">Layer AB</th>
                    <
                    <td>{{parameterblending.cofiring.damper1AB |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper2AB |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper3AB |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper4AB |floatformat:-2}}</td>
                </tr>
                <tr>
                    <th scope="row">Layer CD</th>
                    <td>{{parameterblending.cofiring.damper1CD |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper2CD |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper3CD |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper4CD |floatformat:-2 }}</td>
                </tr>
                <tr>
                    <th scope="row">Layer EF</th>
                    <td>{{parameterblending.cofiring.damper1EF |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper2EF |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper3EF |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper4EF |floatformat:-2}}</td>
                </tr>
                <tr>
                    <th scope="row">Layer FF</th>
                    <td>{{parameterblending.cofiring.damper1FF |floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper2FF|floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper3FF|floatformat:-2}}</td>
                    <td>{{parameterblending.cofiring.damper4FF|floatformat:-2}}</td>
                </tr>


                </tbody>
            </table>

        </div>


    </h3>


{% endblock content %}